{% extends "admin/base_admin.html" %}

{% block title %}
<span class="lang" data-key="admin_login_title"></span>
{% endblock %}

{% block content %}
<div class="section">
  <h2 class="center-align">
    <span class="lang" data-key="admin_login_heading"></span>
  </h2>
  <div class="row">
    <form class="col s12" method="post" action="{{ url_for('auth.admin_login') }}">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required />
          <label for="email"><span class="lang" data-key="login_email"></span></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" required />
          <label for="password"><span class="lang" data-key="login_password"></span></label>
        </div>
      </div>
      <div class="row center">
        <button class="btn blue" type="submit">
          <span class="lang" data-key="login_button"></span>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
