{% extends "base_public.html" %}

{% block title %}
<span class="lang" data-key="register_title"></span>
{% endblock %}

{% block content %}
<div class="section">
  <h2 class="center-align">
    <span class="lang" data-key="register_heading"></span>
  </h2>
  <div class="row">
    <form class="col s12" method="post" action="{{ url_for('auth.register') }}">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="validate" required />
          <label for="name"><span class="lang" data-key="register_name"></span></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required />
          <label for="email"><span class="lang" data-key="register_email"></span></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" required />
          <label for="password"><span class="lang" data-key="register_password"></span></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="confirm_password" name="confirm_password" type="password" class="validate" required />
          <label for="confirm_password"><span class="lang" data-key="register_confirm_password"></span></label>
        </div>
      </div>
      <div class="row center">
        <button class="btn blue" type="submit">
          <span class="lang" data-key="register_button"></span>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
